# =========================================================================================================== #
# Libertya SaaS
# Archivo de configuración de instancia	
# Este archivo contiene configuraciones exclusivas de la instancia
# Para configuraciones que son comunes a todas las instancias, ver el archivo lysaas_GeneralConfiguration.cfg
# =========================================================================================================== #

# Descripcion:          Ubicación del directorio donde se encuentran los archivos de lysaas general
# Ejemplo:              -
# Posibles valores:     Cualquiera. Por defecto /opt/lysaas
lysaasGeneralDir=/opt/lysaas

# Descripcion:          Utilizado para identificar el número de instancia en el equipo.
# Ejemplo:              -
# Posibles valores:     Entre 1 y X (X = número de instancias en el host). Por defecto 0
instanceID=0 

